:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
}

p {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin-top: 40px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}

.contact-me-link {
  background-color: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  margin: 20px;
}
.about-me-link {
  border: 1px solid #6c63ff;
  color: var(--primary-color);
  margin: 20px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.information-boxes {
  display: flex;
  margin: 30px 0;
}

#email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 28px;
}

#email-link:hover {
  text-decoration: underline;
}
